<div class="main-background">
  <div class="row top-margin">
    <h1 class="center-tag">Ejemplos de Angular</h1>
  </div>
  <a class="btn btn-success main-button" [routerLink]="['/login']">Guardias</a>
  <a class="btn btn-success main-button" [routerLink]="['/angular-material']">Componentes de Angular Material</a>
  <a class="btn btn-success main-button" [routerLink]="['/tabla-angular-material']">Tabla de Angular Material</a>
  <a class="btn btn-success main-button" [routerLink]="['/graficas']">HighCharts</a>
</div>