<div class="main-background">
  <div class="row top-margin">
    <h1 class="center-tag">Angular Demos</h1>
  </div>
  <a class="btn btn-success main-button" [routerLink]="['/login']">Auth Guards</a>
  <a class="btn btn-success main-button" [routerLink]="['/angular-material-components']">Angular Material Components</a>
  <a class="btn btn-success main-button" [routerLink]="['/angular-material-tables']">Angular Material Tables</a>
  <a class="btn btn-success main-button" [routerLink]="['/charts']">HighCharts</a>
</div>