<div class="main-background">
  <div class="row top-margin">
    <h1 class="center-tag">Angular Demos</h1>
  </div>
  <a class="btn btn-success main-button" [routerLink]="['/login']">Auth Guards</a>
  <a class="btn btn-success main-button" [routerLink]="['/angular-material']">Angular Material Components</a>
  <a class="btn btn-success main-button" [routerLink]="['/tabla-angular-material']">Angular Material Tables</a>
  <a class="btn btn-success main-button" [routerLink]="['/graficas']">HighCharts</a>
</div>