<div class="main-background">
  <div class="row top-margin">
    <h1 class="center-tag">Log In Form</h1>
  </div>
  <div class="row">
    <div class="col-12 text-center">

      <div class="login-form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
              
            <div class="col-12 text-center">
              <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
              </mat-form-field>
            </div>
              
            <div class="col-12 text-center">
              <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
              </mat-form-field>
            </div>

            <div class="btn-group">
              <button class="btn btn-success" [disabled]="this.loginForm.invalid">Submit</button>
              <a [routerLink]="['/home']" class="btn btn-primary">Go back</a>
            </div>

          </form>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="alert alert-warning alert-message" role="alert">
      Before you fill the form and click the submit button, go to the route '/success' to
      check that auth guard is working (you won't be able to access that view).
    </div>
  </div>
</div>